.ul--container {
    width: 20rem;
    height: auto;
    margin: 1rem 0;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: .5rem;
    list-style: none;
}