.li--skeletons {
    width: 20rem;
    height: 3rem;
    background-color: gainsboro;
    border-radius: .9375rem;
    border: none;
}
.silide--item {
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: .9375rem;
    border: none;
    background-color: rgb(197, 189, 189);
    animation-duration: 3s;
    animation-name: slidein;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes slidein {
    from {
      margin-left: 100%;
      width: 0%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }